@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.containerForm {
    display: flex;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;
    gap: 30px;
}

.boxForm {
    position: relative;
    width: 250px;
}

.boxForm input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff40;
    background-color: #25252b;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
}

.boxForm span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
    transition: 0.5s;
}

.boxForm input:valid~span,
.boxForm input:focus~span {
    color: green;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: #25252b;
    border-left: 1px solid green;
    border-right: 1px solid green;
}

.boxForm:nth-child(2) input:valid~span,
.boxForm:nth-child(2) input:focus~span {
    color: #25252b;
    background-color: green;
    border-radius: 5px;
}

.boxForm:nth-child(3) input:valid~span,
.boxForm:nth-child(3) input:focus~span {
    border: 1px solid green;
    border-radius: 5px;
}

.boxForm:nth-child(4) input:valid~span,
.boxForm:nth-child(4) input:focus~span {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    border-left: none;
    border-right: none;
}

.boxForm:nth-child(5) input:valid~span,
.boxForm:nth-child(5) input:focus~span {
    border: 1px solid green;
    width: 80%;
    text-align: center;
}

.boxForm input:valid,
.boxForm input:focus {
    border: 1px solid green;
}